* {
    background-color: rgb(9, 73, 125);
}

.logo {
    height: 300px;
}

.main {
    height: 800px;
}

nav {
    display: flex;
    padding-bottom: 75pt;
    justify-content: left;
    justify-self: left; 
;

}

ul {
    list-style: none;
    display: flex;
    position: absolute;
    padding: 1 auto;
    margin: 10;
    flex-direction: row;
}

li {
    display: flex;
    margin: 10px;
    padding: 10px auto;
    font-size: 3em;
    color: white;
}

header {
    display: flex;
    align-items: center;
}

main {
    display: flex;
}

h1 {
    color: white;
    font-size: 7em;
    text-align: left;
    padding-left: 80pt;
}

.but {
    display: inline;

}


.but1 {
    text-decoration: none;
    padding: 30pt;
    background-color: rgb(51, 173, 204);
    text-decoration-color: white;
    text-size-adjust: 12pt;
}

